body {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}




.topo {

    background: #6950A1;

    position: relative;
}



.logo {
    margin: 20px;
}

.texto-topo {
    color: white;
    top: 1em;
    width: 50%;
    position: relative;
    bottom: 50px;
    left: 20px;
    padding-bottom: 50px;
}


.corpo {
    /* width: ; */
    position: relative;

}


.primeiroP{
    width: 50%;
    margin-left: 20px;
}

.listaEbook {
    margin-left: 20px;
    width: 50%;
    font-size: 1.2em;
}

/* p{
    margin-left: 20px;
} */
li {
    margin: 10px;
}

.formulario {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 1px solid;
    height: 550px;

    position: absolute;
    top: 90px;
    right: 60px;
    border-radius: 10px;
}



.forms {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    line-height: 40px;
    top: 180px;
    

}



input {
    width: 90%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid grey;
}

.formulario a {
    background: #6950A1;
    text-align: center;
    position: absolute;
    bottom: 20px;

    display: flex;
    padding: 2% 25%;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px; */
    border-radius: 10px;
    text-decoration: none;
    color: #FFF;


}



.top-form {
    background: #0a0613e5;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: #FFF;
    text-align: center;
}





@media screen and (max-width:480px) {
    .corpo {
        display: flex;
        flex-direction: collumn;
        flex-wrap: wrap;

        text-align: center;
    }

    


    .texto-topo {
        width: 100%;
        left: 0;
        
    }

    .formulario {

        width: 100%;
        position: relative;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .forms{
        display: flex;
        align-items: start;
    }

    .topo {
        text-align: center;
    }

    .primeiroP{
        width: 100%;
        margin: 0;
    }
    
    .listaEbook {
        margin: 0;
        width: 100%;
        font-size: 1.5em;
    }

    
}